.menu{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    transition: 0.5s;
    // background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 1px 1px 3px 3px #8996a0;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.7;
    }
}

.menuHeader{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    width: 100%;
    .btn-close{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            color: white;
            font-size: 20px;
        }
        .icon-close{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid #464A4F;
            margin: 0 30px 0 15px;
            transition: .3s;
            
            svg{
                path{
                    stroke: white;
                    stroke-width: 2;
                }
            }
        }
        &:hover{
            .icon-close{
                border-color: #FFFFFF;
            }
        }
    }

    .logo{
        display: flex;
        align-items: center;
        margin-left: 15px;
        .logo-title{
            margin-left: 10px;
            h1{
                color: white;
                font-weight: 300;
                font-size: 25px;
                letter-spacing: -1px;
            }
            h3{
                color: white;
                font-weight: 100;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }
        img{
            width: 100px;
            
        }
    }    
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
        box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.6);
    }
}

.menu-container{
    display: flex;
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 10000;
    width: 100%;
    .cc{
        width: 30%;
        overflow: hidden;
        // overflow-y: scroll;
    }
    .nav{
        width: 90%;
        padding: 0 30px;
        list-style-type: none;
        border-right: 5px solid #464A4F;
        // overflow-y: auto;
        li{
            margin-bottom: 30px;
            opacity: 0;
            transform: translateY(-30px);
            transition: 0.5s;
            
        }

        .appear{
            opacity: 1;
            transform: translateY(10px);
        }
    }
}


.btnNav{
    cursor: pointer;
    background: none;
    border: none;
    transition: .4s color;
    span{
        position: relative;
        color: #FFFFFF;
        font-size: 56px;
        transition: .3s;
        line-height: 1.15;
        letter-spacing: -1.5px;
        font-weight: 500;
        &:hover{
            color: #FFFFFF !important;
        }
        &::after{
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: .3s;
            background: white;
        }
        
        &.btnNavActive{
            &::after{
                width: 100% !important; 
            }
        }
        &.noActiveHover{
            &:hover{
                &::after{
                    width: 100% !important;
                }
            }
        }
    }
}



.SubNav{
    width: 30%;
    display: flex;
    .SubNav-container{
        width: 90%;
        padding-right: 30px;
        border-right: 5px solid #464A4F;
        .subNav-header{
            margin-bottom: 45px;
            opacity: 0;
            transform: translateX(-30px);
            transition: 0.3s;
            .subNav-header__container{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                margin-top: 15px;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    svg{
                        margin-left: 10px;
                        path{
                            transition: .3s;
                        }
                    }
                    &:hover{
                        svg{
                            path{
                                // fill: #FFFFFF;
                                stroke: #FFFFFF;
                                stroke-width: 2;
                            }
                        }
                    }
                }
                
                
            }
            span{
                color: white;
                font-size: 16px;
            }
        }
        
        .subNav-item{
            margin-top: 20px;
            opacity: 0;
            transform: translateX(-30px);
            transition: 0.3s;
    
            
            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                font-weight: bold;
                display: flex;
                align-items: center;
                transition: .3s;
                .arrow-right{
                    opacity: 0;
                    transform: translateX(-10px);
                    margin-left: 8px;
                    transition: .3s;
                    path{
                        stroke: #FFFFFF;
                        stroke-width: 1;
                    }
                }
                &:hover{
                    color: #FFFFFF !important;
                    .arrow-right{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
            button{
                display: flex;
                align-items: center;
                background: none;
                border: none;
                cursor: pointer;
                span{
                    position: relative;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    margin-right: 8px;
                    transition: .3s;
                    &:hover{
                        color: #FFFFFF !important;
                    }
                    &::after{
                        content: "";
                        width: 0;
                        height: 1px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: .3s;
                        background: white;
                    }
                    
                    &.active{
                        &::after{
                            width: 100% !important; 
                        }
                    }
                }
                svg{
                    margin-top: 1px;
                    path{
                        transition: .3s;
                    }
                }
                &:hover{
                    svg path{
                        stroke: #FFFFFF;
                        stroke-width: 3;
                    }
                }
            }
        }
    
        .appear{
            opacity: 1;
            transform: translateX(0);
        }
    }

}

.SSubNav{
    width: 40%;
    padding-right: 30px;
    .SSubNav-item{
        padding: 15px 0;
        border-top: 1px solid #464a4f;
        opacity: 0;
        transform: translateX(-30px);
        transition: .3s;
        a{
            position: relative;
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: bold;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;   
                height: 1px;
                background: white;
                transition: .3s;
            }
            &:hover{
                &::after{
                    width: 100% !important;
                }
            }
        }

    }
    
    .explore{
        opacity: 0;
        transform: translateX(-30px);
        transition: .3s;
        span{

            color: white;
            font-size: 18px;
        }
        .explore-des{
            span{
                margin-top: 15px;
                display: block;
                // width: 440px;
            }
        }
        .explore-title{
            display: flex;
            align-items: center;
            margin: 23px 0 50px 0;
            .explore-arrow{
                cursor: pointer;
                margin-right: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: #464a4f;
                transition: .3s;
                svg path{
                    stroke: #FFFFFF;
                    stroke-width: 1;
                }

                &:hover{
                    background: #273E74;

                }
            }
        }
    }

    .subNav-appear{
        opacity: 1;
        transform: translateX(0);
    }

    
}

@media (max-width: 1289px) {
    .menu-container{
        .nav{
            .appear{
                .btnNav{
                    span{
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .SubNav{
        .SubNav-container{
            .subNav-header{
                margin-bottom: 35px;
                .subNav-header__container{
                    a{
                        font-size: 18px;
                    }
                }
                span{
                    font-size: 14px;
                }
            }
            .subNav-item{
                
                a, button span{
                    font-size: 18px;
                }
            }
        }
    }

    .SSubNav{
        .explore-des{
            span{
                font-size: 16px;
            }
        }
        .explore-title{
            margin-top: 13px !important;
            margin-bottom: 40px !important;
            span{
                font-size: 16px;
            }
        }

        .SSubNav-item{
            padding: 10px 0;
            a{
                font-size: 16px;
            }
        }
    }
}





