.header{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10;
    background: white;
    box-shadow: 0px -1px 33px 0px rgba(0, 0, 0, 0.11);
    transition: .5s;
    
    .header-container{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 100px;
            height: 100px;
            img{
                width: 100px;
            }
        }

        .header-left{
            display: flex;
            align-items: center;
            .uni-name{
                h1{
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #003A63;
                }
            }
        }

        .header-right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            z-index: 1000;

            // align-items: center;
            transition: 0.5s;
    
            .search-btn{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 10px;
                padding: 0 10px;
                width: 144px;
                height: 40px;
                background: #0F52A9;
                transition: .3s;

                svg{
                    margin: 0 10px 0 5px;
                }

                span{
                    color: white;
                    font-weight: 500;
                }

                &:hover{
                    width: 164px;
                }
            }

            .menu-btn{
                cursor: pointer;
                width: 144px;
                height: 40px;
                margin-top: 10px;
                padding: 0 10px;
                background: #0F52A9;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                transition: .3s;
                svg{
                    margin-right: 10px;
                }

                span{
                    color: white;
                    font-weight: 500;
                }

                &:hover{
                    width: 164px;
                }
            }
        }

    }
}