.container {
  padding: 0 25px;
}

h1,
h3 {
  margin: 0;
}

.image-slider img {
  height: 100vh;
  width: 100%;
}

.image-slider {
  position: relative;
  video {
    width: 100%;
    height: auto;
  }
}

.text-content-slider {
  position: absolute;
  bottom: 171px;
  left: 50px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
}

.overlay-title {
  position: absolute;
  bottom: 7px;
  background: black;
  opacity: 0.5;
  display: block;
  width: 100%;
  height: 150px;
}

.content-overlay {
  position: absolute;
  bottom: 15px;
  left: 50px;
  p {
    color: white;
    max-width: 882px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.button-action-slide {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: white;
  border: none;
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid #8996a0;
  transition: 0.3s;
  svg {
    fill: white;
    width: 28px;
    height: 28px;
  }
  &:hover {
    background: white;
    border: none;
    svg {
      fill: #0507f6;
    }
  }
}

.button-action-slide i {
  font-size: 20px;
}

.intro-keyword img {
  width: 100%;
  height: 100vh;
}

.tab-information {
  padding: 30px 0;
  margin-bottom: 50px;
}

.nav-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .icon-nb {
    display: block;
    height: 20px;
  }
}

.items-left {
  display: flex;
  align-items: center;
  svg {
    g {
      g {
        fill: #093a5e;
      }
    }
  }
  p {
    color: #093a5e;
    font-size: 26px;
    margin: 0;
  }
}

.items-right {
  display: flex;

  .action-btn-tab {
    // border-radius: 5px;
    font-size: 18px;
    padding: 5px 20px;
    background: white;
    border: 1px solid #0f52a9;
    // border-top: none;
    button {
      background: none;
      border: none;
      color: #464a4f;
      font-size: 16px;
    }
  }
  .action-btn-tab.action {
    background: #0f52a9;
    button {
      color: white;
    }
  }
}

.information-tab {
  display: flex;
  margin-top: 15px;
}

.left-information-tab {
  width: 20%;
  ul {
    .left-tab {
      margin-bottom: 10px;
      button {
        width: 100%;
        text-align: left;
        border: none;
        background: none;
        padding: 10px 0;
        padding-left: 15px;
        border-bottom: 1px solid #0f52a9;
        color: #464a4f;
        font-weight: 400;
      }
    }
  }
}

.tab-active {
  background: #0f52a9 !important;
  border: none;
  color: white !important;
  font-weight: 700;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.right-information-tab {
  padding-left: 15px;
}

.flex-blog-post {
  display: flex;
  flex-wrap: wrap;
}

.box-blog-post {
  width: 25%;
  padding: 0 10px;
}

.box-blog-post img {
  width: 100%;
  margin-bottom: 10px;
}

.title-blog-post {
  font-size: 20px;
  margin-bottom: 0px;
  color: #093a5e;
  font-weight: bolder;
}

.post-except {
  font-size: 15px;
  color: #777777;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.right-information-tab {
  width: 80%;
}

.title-row {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.left-title-row {
  width: 40%;
  border-right: 5px solid #dca800;
}

.right-title-row {
  width: 60%;
}

.left-title-row p {
  font-size: 40px;
  font-weight: bolder;
  color: #003a63;
  margin-bottom: 0px;
}

.right-title-row p {
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 30px;
}

.row-icon-element {
  display: flex;
}

.icon p {
  text-align: center;
}

.icon-box {
  width: 33.3333%;
  padding: 0 20px;
}

.icon-box:nth-child(2) {
  border-left: 2px solid #dca800;
  border-right: 2px solid #dca800;
}

.icon p:nth-child(2) {
  font-size: 35px;
  color: #003a63;
  font-weight: bolder;
}

.row-blog-post {
  display: flex;
}

.img-post {
  width: 30%;
}

.img-post img {
  width: 100%;
}

.content-post {
  width: 70%;
  padding-left: 15px;
}

.title-content-post {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.except-content-post {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.view-more {
  display: flex;
  justify-content: center;
}

.view-more button {
  background: #0f52a9;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.award-section {
  margin-bottom: 100px;
}

.left-title-member-row {
  width: 60%;
  padding-right: 30px;
}

.left-title-member-row p {
  margin-bottom: 0;
  font-size: 18px;
  text-align: right;
}

.right-title-member-row {
  width: 40%;
  border-left: 5px solid #dca800;
  padding-left: 30px;
}

.right-title-member-row p {
  font-size: 40px;
  color: #003a63;
  font-weight: bolder;
  margin-bottom: 0;
}

.member-main-infor {
  background: #003a63;
  padding: 50px 0;
  margin-bottom: 50px;
}

.row-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-6-member {
  width: 50%;
  color: white;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.role-member {
  font-size: 28px;
  font-weight: bold;
  color: #dddddd;
  margin-bottom: 0;
}

.name-member {
  font-size: 24px;
}

.intro-text-member {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 50px;
  margin-bottom: 30px;
}

.nav-member {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 10px;
      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }
    }
    .active {
      img {
        width: 60px;
        height: 60px;
        border: 4px solid #1461c6;
      }
    }
  }
}

.categories-wrap {
  position: relative;
}

.heading-categories {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 225px;
  text-align: center;
  color: #f8f8f8;
}

.subHeading-categories {
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 79px;
  text-align: center;
  color: #189fff;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.flex-news-post {
  display: flex;
}

.col-6-left,
.col-6-right {
  width: 50%;
}

.box-news {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .title-box-news {
    font-size: 21px;
  }

  &:hover {
    .content-box-news {
      transform: translateY(0);
      .title-box-news {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .content-box-news2 {
      transform: translateY(0);
      .title-box-news {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.box-news:hover .img_hov {
  filter: brightness(30%);
  transition: 0.3s;
}

.content-box-news {
  position: absolute;
  bottom: 10px;
  color: white;
  width: 90%;
  transform: translateY(88px);
  transition: 0.3s;
}
.content-box-news2 {
  position: absolute;
  bottom: 10px;
  color: white;
  width: 90%;
  transform: translateY(35px);
  transition: 0.3s;
}

.content-box-news2 p {
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  width: 90%;
  margin-bottom: 10px;
}

.content-box-news p {
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
  width: 90%;
  margin-bottom: 10px;
}

.view-more-news {
  padding-left: 15px;
  display: flex;
  align-items: center;
  button {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.548);
    border: 1px solid white;
    color: white;
    margin-right: 15px;
    svg {
      path {
        fill: white;
      }
    }
  }
}

.view-more-news span {
  font-size: 15px;
}

.row-for-news {
  display: flex;
  flex-wrap: wrap;
}

.box-news img {
  width: 100%;
}

.box-news img {
  height: 464px;
}

.col-6-right .box-news img {
  height: 222px;
}

.col-6-right .box-news {
  margin-bottom: 20px;
}

.col-6-right .content-box-news p {
  width: 100%;
}

.row-event {
  display: flex;
  flex-wrap: wrap;
}

.box-event {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
}

.img-event img {
  width: 100%;
}

.time-event {
  background: #2f2424;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 195px;
  left: 20px;
}

.month {
  font-size: 15px;
  margin-bottom: 0;
}

.date {
  font-size: 22px;
  margin-bottom: 0;
}

.content-event {
  margin-top: 45px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.categories-event {
  color: #3f51b5;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0;
}

.name-event {
  font-size: 17px;
}

.col-event {
  padding: 0 10px;
  width: 25%;
}

.event-infor {
  margin-bottom: 50px;
}

/* css for admission page */


.content-overlay h1{
  font-size: 3.5rem;
    line-height: 1.06452;
    color: white;
}

.admission-page .title-text{
  margin-top: 15px;
  font-size: 1.3rem;
    line-height: 1.58333;
}

.admission-page .overlay-title{
  height: 260px !important;
}

.mrg-bot-70{
  margin-bottom: 70px;
}

.sub_nav_list {
    border-top: 1px solid #F0F2F3;
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}

.sub_nav_item {
    border-bottom: 1px solid #F0F2F3;
}

.sub_nav_link {
    display: block;
    text-decoration: none;
    padding: 15px 0;
    transition: .3s;
    .sub_nav_link_label {
        font-weight: 400;
        color: #4E3629;
        font-size: 18px;
        letter-spacing: 0.0125rem;
    }

    &:hover{
      background: #0f52a9;
      .sub_nav_link_label{
        color: white;
      }
    }
}



.content_block{
  margin-bottom: 30px;
}

.content_block_inner{
  padding: 0 11.25%;
}

.typography{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.77778;
}

.flex-wrapper{
  display: flex;
  justify-content: space-between;
}


.sidebar-left-sticky{
  width: 20%;
  margin-right: 7%;
}

.content-page-admission{
  width: 75%;
  border-left: 1px solid #F0F2F3;

}

.component_title_link{
  text-decoration: none;
  color: black;
}

.component_block{
  position: relative;
    padding: 1em;
    margin: 40px 60px;
    border-top: 4px solid #ffc72c;
    border-bottom: 4px solid #ffc72c;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.stat_simple{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.stat_simple h4 {
    font-weight: 700;
    font-size: 2.25em;
    margin: 1em 0 0.15em;
}

.stat_simple p {
    font-size: 1.1em;
    color: #5b5b5b;
    margin: 0 0 1em;
}

.image-block{
  position: relative;
  margin: 40px 60px;
}

.image-block img{
  width: 100%;
}

.image-block p{
  position: absolute;
  background: black;
  bottom: 0px;
  margin-bottom: 0px;
  color: white;
  padding: 12px 20px 11px;
  font-size: 0.875rem;
  line-height: 1.85714;

}

.component_body {
    padding: 25px 0px 24px 0px;
    border-top: 1px solid #F0F2F3;
    margin-right: 60px;
    margin-left: 60px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 259px;
}

.peak_details_caption{
  font-weight: 400;
}

.img-ads{
  margin-top: 30px;

}

.img-ads img{
  width: 100% !important;
}
